# Node-related
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
.next
out
dist

# Env & local configs
.env
.env.*
!.env.example

# IDE/editor
.vscode
.idea
*.swp

# OS cruft
.DS_Store
Thumbs.db
